.container {
    width: 75%;
    margin: 3rem auto;
}

.title {
    text-align: center;
}

.btndiv {
    display: flex;
    justify-content: center;  
    align-items: center;  
}

.button {
    margin-top: 10px;
}